{{ form_start(form, { 'attr': {'class': 'container my-5'} }) }}
<h2 class="text-center mb-4">Create New Project</h2>
{{ form_row(form.title) }}
    {{ form_row(form.groupCount) }}
    {{ form_row(form.maxStudentsPerGroup) }}
<button type="submit" class="btn btn-success mt-3">Create Project</button>
{{ form_end(form) }}
